<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="viggo">
    <title>财务软件网址导航</title>
    <meta name="keywords" content="财务软件,财务软件研发,管理软件,会计,网址导航,系统开发,">
    <meta name="description" content="财务软件研发百宝箱-各种软件开发工具和网址">
    <link rel="shortcut icon" href="https://jrcxsoft.com/upload/2019/8/Jietu20190811-040741-52b97ac83ecd41e89021a043d6eb3584.jpg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/app.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>